body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#after {
    width: 962px;
    height: 540px;
    display: flex;
    /* background-image: url(./img/after.png); */
    background-size: contain;
    margin: 20px;
}

#before {
    width: 480px;
    height: 540px;
    /* background-image: url(./img/before.png); */
    background-size: cover;
    z-index: 2;
    opacity: 1;
    overflow: hidden;
}



#ligne {
    width: 2px;
    height: 540px;
    background-color: brown;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slideB {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: brown;
    border: solid 1px brown;
    background-image: url(./img/criz.png);
    background-size: cover;
    scale: 2;
    position: relative;

}

.animation {
    animation: 10s bipbip 1s infinite;
}


@keyframes bipbip {
    30% {
        scale: 2;
        right: 0;
    }

    32% {
        scale: 1.5;
        right: 10px;
    }

    34% {
        scale: 2;
        right: 0;
    }

    36% {
        scale: 2;
        right: 0;
    }

    38% {
        scale: 1.5;
        right: -10px;
    }

    40% {
        scale: 2;
        right: 0;
    }

}

#slideB:hover {
    cursor: grab;
    background-color: cadetblue;
}

#slideB:active {
    cursor: grabbing;
}


#action {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lesBoutons {
    border: black solid 4px;
    background-color: bisque;
    border-radius: 14px;
    padding: 2px 20px;
    font-size: 2em;
    box-shadow: 2px 2px 5px black;
    transition: 0.2s;
}

.lesBoutons:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: bisque;

}

.lesBoutons:active {
    box-shadow: inset 2px 2px 5px black;
}

#bouton {
    border: black solid 4px;
    background-color: bisque;
    border-radius: 14px;
    width: 520px;
    margin: 10.5px 0;

}



#rond {
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 2px 5px black;
    scale: 2;
    background-image: url(./img/criz.png);
    background-size: cover;
}

#rond:hover {
    cursor: grab;
    background-color: cadetblue;


}

#rond:active {
    cursor: grabbing;

}

.mire {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: url(./img/pointMir.png);
    background-size: cover;
}


.mire2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: url(./img/pointMir.png);
    background-size: cover;
}

.background-video {
    height: 540px;
    position: relative;
    z-index: -1;
    }
    
#videoAfter{
    position: absolute;
    height: 540px;
    object-fit: cover;
}
    
    #btnVideo{
    font-size: 1.5rem;
    width: 70px;
    margin-left: 50%;
    transform: translateX(-50%);
    }